/* main stylesheet file */

.main-content {
  width: 80%;
  margin: auto;
}

table td {
  border: 2px solid darkcyan;
}

button {
  margin: 10px;
  width: 30px;
  height: 30px;
  border: none;
  background: #fff;
  outline: 0;
}

#restart {
  border: 2px solid darkcyan;
}